@import '../../../utils/mixins.scss', '../../../utils/variables.scss';

.about {
  background-color: $color-white;

  &__inner {
    max-width: 1140px;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    column-gap: 40px;
    padding-bottom: 110px;
  }

  &__textColumn {
    max-width: 550px;
  }

  &__subtitle {
    @include font-normal($small);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    margin: 0 0 26px 0;
  }

  &__description {
    @include font-normal($small);
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  &__timeWrapper {
    padding-bottom: 110px;
  }

  &__twoColumns {
    display: flex;
  }

  &__whiteSide {
    width: 912px;
    display: flex;
    height: 36px;
    background-color: $color-pink;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    @include font-normal($small);
  }

  &__blackSide {
    width: 228px;
    display: flex;
    height: 36px;
    background-color: $color-dark-grey;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    @include font-normal($small, $color-white);
  }

  &__text {
    @include font-normal($mid, $color-grey);
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
