@import '../../../utils/mixins.scss', '../../../utils/variables.scss';

.student {
  background-color: $color-white;
  padding: 0 0 125px 0;

  &__inner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 70px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__text-wrapper {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    row-gap: 26px;
  }

  &__title {
    @include font-normal($small);
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 0;
  }

  &__subtitle {
    @include font-normal($mid);
    font-size: 18px;
    line-height: 20px;
    mix-blend-mode: normal;
    margin: 0;
  }

  &__description {
    @include font-normal($small);
    font-size: 14px;
    line-height: 22px;
    mix-blend-mode: normal;
    margin: 0;
  }

  &__project {
    margin: 0;
    padding: 0;
    @include font-normal($small, $color-grey);
    font-size: 18px;
    line-height: 20px;
    list-style: none;
    mix-blend-mode: normal;

    li:first-of-type {
      margin-top: 50px;
    }

    li:last-of-type {
      .title {
        border-bottom: none;
      }
    }
  }

  &__link {
    text-decoration: none;
  }
}
