.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    max-width: 204px;
    margin: 74px 0 123px 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    fieldset:first-of-type {
      border-bottom: 1px solid #E8E8E8;
      padding-bottom: 16px;
    }

    fieldset:last-of-type {
      padding-top: 17px;
    }

    &__input-container {
      display: flex;
      border: none;
      padding: 0;
    }

    &__label {
      width: 141px;
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      color: #000000;
    }

    &__input {
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      text-align: right;
      color: #000000;
      border: none;
      background-color: transparent;
    }

    &__btn {
      margin: 220px 0 16px 0;
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: #000000;
      padding: 0;
      background-color: transparent;
      border: none;
      width: 410px;
      cursor: pointer;
    }
  }

  &__btn {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FF4062;
    width: 410px;
    cursor: pointer;
    text-decoration: none;
  }
}