@import '../../utils/mixins.scss', '../../utils/variables.scss';

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include font-normal($mid);
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    max-width: 204px;
    margin: 74px 0 123px 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    fieldset:first-of-type {
      border-bottom: 1px solid $color-light-grey;
      padding-bottom: 16px;
    }

    fieldset:last-of-type {
      padding-top: 17px;
    }

    &__input-container {
      display: flex;
      border: none;
      padding: 0;
    }

    &__label {
      width: 141px;
      @include font-normal($mid);
      font-size: 11px;
      line-height: 13px;
    }

    &__input {
      @include font-normal($small);
      font-size: 11px;
      line-height: 13px;
      text-align: right;
      border: none;
      background-color: transparent;
    }

    &__btn {
      margin: 220px 0 16px 0;
      @include font-normal($small);
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      padding: 0;
      background-color: transparent;
      border: none;
      width: 410px;
      cursor: pointer;
    }
  }

  &__btn {
    @include font-normal($mid, $color-red);
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    width: 410px;
    cursor: pointer;
    text-decoration: none;
  }
}
