.techs {
  background-color: #F5F5F5;
  padding-bottom: 100px;

  &__inner {
    max-width: 1140px;
    margin: 0 auto;
  }

  &__content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000;
    max-width: 600px;
    margin: 20px 0 26px 0;
  }

  &__subtitle {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000;
    margin: 0 0 100px 0;
    max-width: 460px;
  }

  &__btns {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    column-gap: 10px;
  }
}
