.nav {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    column-gap: 40px;
  }

  &__btn {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-decoration: underline;
    background-color: transparent;
    color: #fff;
    padding: 24px 0;

    &:hover {
      cursor: pointer;
    }
  }
}
