$color-black: #000;
$color-white: #fff;
$color-pink: #f3c1f8;
$color-grey: #a0a0a0;
$color-light-grey: #e8e8e8;
$color-dark-grey: #161616;
$color-prewhite: #f5f5f5;
$color-f9: #f9f9f9;
$color-c: #ccc;
$color-red: #ff4062;

$mid: 500;
$small: 400;
