@import '../../../utils/variables.scss', '../../../utils/mixins.scss';

.card {
  width: 100%;
  list-style: none;

  img {
    width: 100%;
    height: 151px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0;
    padding-bottom: 25px;
    border-bottom: 1px solid $color-light-grey;
  }

  &__like {
    width: 24px;
    height: 24px;
    background-color: $color-f9;
    border-radius: 36px;
    border: none;
    background-image: url('./like.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    &_active {
      background-image: url('./likeActive.svg');
    }
  }

  &__description {
    margin: 0;
    @include font-normal($mid);
    font-size: 13px;
    line-height: 16px;
    color: $color-black;
  }

  &__duration {
    margin: 6px 0 0;
    @include font-normal($small);
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: $color-grey;
  }
}
