.search {
  background-color: #000;

  &__inner {
    margin: 0 auto;
    max-width: 1140px;
    padding: 70px 0;
  }
}

.form {
  position: relative;

  &__input {
    width: 100%;
    background: #F9F9F9;
    border-radius: 9px;
    height: 72px;
  }

  &__btn {
    position: absolute;
    top: 19px;
    right: 257px;
    background: #000000;
    border-radius: 48px;
    width: 80px;
    height: 34px;
    border: none;
  }

  &__text {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    position: absolute;
    top: 27px;
    right: 30px;
    margin: 0;
  }

  &__checkbox {
    background: #000000;
    border-radius: 20px;
    width: 36px;
    height: 20px;
  }
}