.App {
  position: relative;
  display: grid;
  height: 100%;
  min-height: 500px;

  &_scroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
  }

  &_type_forms {
    max-width: 396px;
    margin: 0 auto;

    @media screen and (max-width: 500px) {
      max-width: 260px;
    }
  }
}
