@import '../../../utils/variables.scss', '../../../utils/mixins.scss';

.burger {
  width: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  margin-right: 24px;
  margin-top: 26px;
  cursor: pointer;
  z-index: 55;

  @media screen and (min-width: 900px) {
    display: none;
  }

  &_hidden {
    display: none;
  }

  &__line_num_one {
    border-bottom: 3px solid $color-black;
  }
  &__line_num_three {
    border-bottom: 3px solid $color-black;
  }
  &__line_num_two {
    border-bottom: 3px solid $color-black;
  }

  &__line {
    width: 100%;
    transition: all 0.5s ease;
  }

  &__line_num_one_active {
    rotate: 45deg;
    transform: translateY(17px);
  }

  &__line_num_two_active {
    opacity: 0;
  }

  &__line_num_three_active {
    rotate: -45deg;
    transform: translateY(-18px);
  }
}
